@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
}

body {
  @apply font-sans;
  color: #1F2937;
  background: #ffffff;
  overflow-x: hidden;
}

/* Headings এর জন্য Poppins */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1A3BDB;
  border-radius: 3px;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease;
}

.animate-slideUp {
  animation: slideUp 0.4s ease;
}

.badge-gradient {
  background: #21219e;
  background: linear-gradient(317deg, rgba(33, 33, 158, 1) 15%, rgba(0, 212, 255, 1) 100%);
}